In [2]:
import pandas as pd
import csv
import openpyxl

In [40]:
agenciaspr_df = pd.read_excel('/Users/jeanzayas/Desktop/Divergence/Portfolio/Education/Databook-JIP K-12 2021-22 noviembre-2022.xlsx', index_col=0)
privada_df = pd.read_excel('Databook-JIP K-12 2021-22 noviembre-2022.xlsx', sheet_name='Tabla 1', header=None, index_col=False)

In [96]:
privada_df

,0,1,2,3
0,Gobierno de Puerto Rico,NaN,NaN,NaN
1,Departamento de Estado,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,Compendio Estadístico sobre la educación básic...,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,Tabla 1.,NaN,NaN,NaN
8,Estudiantes matriculados en escuelas privadas ...,NaN,NaN,NaN
9,Año académico 2021-2022,NaN,NaN,NaN
10,Nivel y Grado,Género,NaN,Total
11,NaN,Masc,Fem,NaN
12,Preescolar,NaN,NaN,NaN
13,Preprekinder,805,773,1578
14,Prekinder,1882.0,1872.0,3754.0
15,kinder,3615.0,3706.0,7321.0
16,Sin grado1,377.0,314,691.0
17,Sub-total Preescolar,6679.0,6665.0,13344.0
18,Elemental,NaN,NaN,NaN
19,Primero,3436,3478.0,6914.0
20,Segundo,3598,3622.0,7220.0
21,Tercero,3655.0,3695.0,7350
22,Cuarto,3679.0,3723.0,7402.0
23,Quito,3740.0,3782.0,7522.0
24,Sexto,3951.0,3868.0,7819.0
25,Sin grado1,398.0,335,733.0
26,Sub-total Elemental,22457.0,22503.0,44960
27,Secundario,NaN,NaN,NaN
28,Séptimo,4041.0,3939.0,7980.0
29,Octavo,4226,4074.0,8300.0
30,Noveno,4357,4287.0,8644
31,Décimo,4401.0,4208.0,8609.0
32,Undécimo,4436.0,4282.0,8718.0
33,Duodécimo,4777.0,4373.0,9150.0
34,Sin grado1,172,102.0,274.0
35,Sub-total secundaria,26410.0,25265,51675
36,Gran Total,55546,54433,109979
37,"1Estudiantes que por alguna razón, ya sea admi...",NaN,NaN,NaN
38,Nota: Para el año 2021-22 el 91.7% de las inst...,NaN,NaN,NaN
39,"Fuente: Formulario (K-12), Plataforma Electró...",NaN,NaN,NaN
40,Cita sugerida: Departamento de Estado de Puert...,NaN,NaN,NaN

In [97]:
pri_df = privada_df.drop(range(8))
pri_df = pri_df.reset_index(drop=True)

# Extracting table title and year
table_title = pri_df.iloc[0, 0]
year_str = pri_df.iloc[1, 0]

# Add a column for the type of school and fill it with "Private"
pri_df['Tipo de Escuela'] = 'Privada'
pri_df['Estado Academico'] = 'Matriculado'

# Extracting only the numeric part of the year string
numeric = ''.join(filter(str.isdigit, year_str))

# Splitting the year string
year_parts = year_str.split('-')
year_starts = int(numeric[:4])
year_ends = int(numeric[4:])



# Adding the appropiate year columns to the dataset
pri_df['Year Start'] = year_starts
pri_df['Year Ends'] = year_ends 


print(table_title)
print(year)

pri_df = pri_df.rename(columns={0: 'Nivel y Grado', 1: 'Masculino', 2: 'Femenino', 3: 'Total'})


pri_df = pri_df.drop(range(20))
pri_df = pri_df.drop(range(29,33))
pri_df

Estudiantes matriculados en escuelas privadas por nivel y grado según el género
Año académico 2021-2022

,Nivel y Grado,Masculino,Femenino,Total,Tipo de Escuela,Estado Academico,Year Start,Year Ends
20,Séptimo,4041.0,3939.0,7980.0,Privada,Matriculado,2021,2022
21,Octavo,4226,4074.0,8300.0,Privada,Matriculado,2021,2022
22,Noveno,4357,4287.0,8644,Privada,Matriculado,2021,2022
23,Décimo,4401.0,4208.0,8609.0,Privada,Matriculado,2021,2022
24,Undécimo,4436.0,4282.0,8718.0,Privada,Matriculado,2021,2022
25,Duodécimo,4777.0,4373.0,9150.0,Privada,Matriculado,2021,2022
26,Sin grado1,172,102.0,274.0,Privada,Matriculado,2021,2022
27,Sub-total secundaria,26410.0,25265,51675,Privada,Matriculado,2021,2022
28,Gran Total,55546,54433,109979,Privada,Matriculado,2021,2022

In [101]:
# Create a new DataFrame for table4
table4_data = {
    'Edad': [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 'Sin especificar'],
    'Séptimo Masculino': [56, 344, 3088, 382, 63, 48, 18, 8, 2, 1, 1, 0, 1, 0, 29],
    'Séptimo Femenino': [41, 387, 3131, 278, 20, 24, 10, 5, 3, 1, 0, 0, 0, 1, 38],
    'Octavo Masculino': [1, 53, 332, 3207, 445, 71, 48, 11, 9, 3, 0, 1, 0, 0, 44],
    'Octavo Femenino': [3, 36, 368, 3200, 346, 48, 13, 11, 1, 3, 0, 1, 0, 2, 42],
    'Noveno Masculino': [0, 2, 53, 379, 3162, 506, 124, 70, 22, 6, 1, 0, 1, 1, 29],
    'Noveno Femenino': [0, 0, 36, 363, 3283, 415, 81, 34, 12, 5, 2, 2, 0, 2, 46],
    'Décimo Masculino': [0, 0, 0, 46, 370, 3240, 528, 119, 40, 13, 10, 5, 1, 0, 25],
    'Décimo Femenino': [0, 0, 0, 34, 360, 3183, 420, 98, 33, 14, 8, 5, 3, 5, 45],
    'Undécimo Masculino': [0, 0, 0, 1, 58, 385, 3284, 537, 86, 32, 11, 6, 0, 4, 32],
    'Undécimo Femenino': [0, 0, 0, 0, 59, 430, 3184, 463, 59, 23, 6, 8, 2, 5, 43],
    'Duodécimo Masculino': [0, 0, 0, 0, 5, 62, 565, 3292, 590, 109, 30, 23, 23, 44, 34],
    'Duodécimo Femenino': [0, 0, 0, 0, 6, 73, 516, 3127, 431, 71, 23, 20, 15, 63, 28],
    'Sin grado[1] Masculino': [0, 0, 0, 0, 11, 11, 15, 23, 27, 7, 7, 5, 1, 1, 38],
    'Sin grado[1] Femenino': [0, 0, 0, 0, 8, 6, 9, 7, 4, 4, 3, 3, 1, 1, 49],
    'Edad Total': [101, 825, 7021, 7907, 8196, 8502, 8815, 7805, 1319, 292, 102, 79, 47, 142, 522]
}

table4_df = pd.DataFrame(table4_data)

In [100]:

# Rename columns
clean_df = table4_df.rename(columns={
    'Séptimo Masculino': 'Séptimo M',
    'Séptimo Femenino': 'Séptimo F',
    'Octavo Masculino': 'Octavo M',
    'Octavo Femenino': 'Octavo F',
    'Noveno Masculino': 'Noveno M',
    'Noveno Femenino': 'Noveno F',
    'Décimo Masculino': 'Décimo M',
    'Décimo Femenino': 'Décimo F',
    'Undécimo Masculino': 'Undécimo M',
    'Undécimo Femenino': 'Undécimo F',
    'Duodécimo Masculino': 'Duodécimo M',
    'Duodécimo Femenino': 'Duodécimo F',
    'Sin grado[1] Masculino': 'Sin grado M',
    'Sin grado[1] Femenino': 'Sin grado F'
})

clean_df

,Edad,Séptimo M,Séptimo F,Octavo M,Octavo F,Noveno M,Noveno F,Décimo M,Décimo F,Undécimo M,Undécimo F,Duodécimo M,Duodécimo F,Sin grado M,Sin grado F,Edad Total
0,10,56,41,1,3,0,0,0,0,0,0,0,0,0,0,101
1,11,344,387,53,36,2,0,0,0,0,0,0,0,0,0,825
2,12,3088,3131,332,368,53,36,0,0,0,0,0,0,0,0,7021
3,13,382,278,3207,3200,379,363,46,34,1,0,0,0,0,0,7907
4,14,63,20,445,346,3162,3283,370,360,58,59,5,6,11,8,8196
5,15,48,24,71,48,506,415,3240,3183,385,430,62,73,11,6,8502
6,16,18,10,48,13,124,81,528,420,3284,3184,565,516,15,9,8815
7,17,8,5,11,11,70,34,119,98,537,463,3292,3127,23,7,7805
8,18,2,3,9,1,22,12,40,33,86,59,590,431,27,4,1319
9,19,1,1,3,3,6,5,13,14,32,23,109,71,7,4,292
10,20,1,0,0,0,1,2,10,8,11,6,30,23,7,3,102
11,21,0,0,1,1,0,2,5,5,6,8,23,20,5,3,79
12,22,1,0,0,0,1,0,1,3,0,2,23,15,1,1,47
13,23,0,1,0,2,1,2,0,5,4,5,44,63,1,1,142
14,Sin especificar,29,38,44,42,29,46,25,45,32,43,34,28,38,49,522

In [103]:


table7_data = {
    'Niveles/grado': ['Pre-pre-Kinder', 'Pre-Kinder', 'Kinder', 'Sin grado[1]', 'Total preescolar',
                      'Primero', 'Segundo', 'Tercero', 'Cuarto', 'Quinto', 'Sexto', 'Sin grado[1]', 'Total elemental',
                      'Séptimo', 'Octavo', 'Noveno', 'Décimo', 'Undécimo', 'Duodécimo', 'Sin grado[1]', 'Total secundaria',
                      'Gran total'],
    '2000-01': [199, 10614, 14380, None, 25193, 12945, 11797, 10601, 10258, 10010, 9773, None, 65384, 9746, 8981, 8639, 7677, 7058, 6959, 806, 49866, 140443],
    '2001-02': [298, 15917, 21458, None, 37673, 19354, 17613, 15852, 15435, 15026, 14702, None, 97982, 14757, 13523, 12993, 11515, 10623, 10504, 1274, 75189, 210844],
    '2002-03': [183, 12109, 16052, None, 28344, 13955, 12719, 11687, 11183, 10367, 10464, None, 114771, 10926, 10423, 9896, 8671, 8353, 7491, 1352, 57112, 200227],
    '2003-04': [170, 11272, 14936, None, 26378, 12995, 11853, 10892, 10421, 9667, 9750, None, 65578, 10168, 9708, 9210, 8068, 7764, 6977, 1263, 53158, 145114],
    '2004-05': [None, 9463, 12676, None, 22139, 11738, 11276, 10402, 9758, 9279, 8956, None, 61409, 9292, 8970, 9350, 8613, 7843, 7212, 841, 52121, 135669],
    '2005-06': [None, 13374, 16794, None, 30168, 14650, 13598, 13242, 12424, 11848, 11428, None, 77190, 11494, 10703, 10653, 9980, 9484, 8482, None, 60796, 168154],
    '2006-07': [None, 11769, 15214, None, 26983, 13877, 13148, 12951, 12637, 12094, 11752, None, 76459, 11423, 11079, 10792, 10072, 10117, 9779, 398, 63262, 166704],
    '2007-08': [None, 11311, 15223, None, 26534, 14371, 13745, 13305, 12893, 12799, 12077, None, 79190, 12267, 11713, 11457, 10326, 9907, 10996, None, 66664, 172388],
    '2008-09': [2479, 10601, 13730, None, 24331, 12696, 12438, 12413, 11872, 11601, 11653, 361, 72673, 11427, 11055, 11028, 10648, 10007, 10528, 673, 64693, 161697],
    '2009-10': [2402, 9827, 13154, None, 25460, 11950, 11465, 11446, 11130, 10933, 10749, 673, 67673, 10971, 10442, 10731, 10462, 9834, 9477, 459, 61917, 155050],
    '2010-11': [3096, 10244, 13674, None, 26320, 12630, 12159, 11906, 11815, 11524, 11368, 495, 71402, 11198, 11146, 11235, 10227, 9718, 9745, 440, 63269, 160991],
    '2011-12': [2842, 7608, 11283, None, 22280, 11381, 10728, 10711, 10645, 10454, 10437, 315, 64754, 11316, 11175, 11684, 11086, 9718, 9745, 415, 66741, 153775],
    '2012-13': [3059, 7264, 10972, None, 21722, 11243, 10726, 10624, 10428, 10276, 10585, 481, 64526, 11315, 11225, 11322, 11744, 10647, 10732, 481, 67569, 153817],
    '2013-14': [2533, 7183, 10704, None, 21505, 10651, 10436, 10252, 9901, 9886, 10041, 755, 61552, 10669, 10761, 10974, 11488, 10636, 10875, 755, 65862, 148919],
    '2014-15': [2947, 6179, 9314, None, 18811, 10172, 10085, 10011, 9884, 9568, 9760, 665, 60059, 10224, 10840, 11085, 10907, 10585, 11083, 665, 65164, 144034],
    '2015-16': [2773, 6128, 9138, None, 18367, 9138, 9443, 9646, 9655, 9457, 9443, 645, 58689, 10124, 10118, 10538, 9695, 9095, 11248, 596, 64203, 142235],
    '2016-17*': [2247, 6146, 8767, None, 18127, 8021, 8895, 8735, 8855, 8909, 8895, 274, 56177, 9185, 8648, 9185, 9623, 9157, 10139, 274, 59852, 130899],
    '2017-18': [2138, 5694, 8121, None, 18127, 8021, 8548, 8099, 8121, 7981, 8041, None, 56092, 8651, 8101, 9309, 9230, 9141, 10013, None, 55258, 122924],
    '2018-19': [1984, 5425, 8148, None, 16347, 8048, 8148, 8037, 8041, 8027, 8066, 274, 49530, 8011, 8013, 9012, 9030, 8991, 9991, None, 55105, 121089],
    '2019-20': [969, 4886, 8027, None, 16347, 8027, 8037, 8037, 8066, 7995, 8066, 7995, 49105, 7995, 7995, 9012, 9259, 9012, 9513, None, 49105, 119982],
    '2020-21': [1578, 2836, 6380, None, 10641, 6441, 6441, 6441, 6441, 6441, 6441, 6441, 49105, 6441, 6441, 9310, 8981, 9512, 9513, None, 48142, 108178],
    '2021-22': [None, 3754, 7321, None, 11473, 7489, 7319, 7333, 7321, 7319, 7319, 7319, 49105, 7321, 7321, 10722, 8500, 8150, 9150, None, 49105, 109979]
}

# Create a DataFrame from the dictionary
t7_df = pd.DataFrame(table7_data)



# Display the DataFrame
t7_df

,Niveles/grado,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,...,2012-13,2013-14,2014-15,2015-16,2016-17*,2017-18,2018-19,2019-20,2020-21,2021-22
0,Pre-pre-Kinder,199.0,298.0,183.0,170.0,NaN,NaN,NaN,NaN,2479.0,...,3059.0,2533.0,2947.0,2773.0,2247.0,2138.0,1984.0,969.0,1578.0,NaN
1,Pre-Kinder,10614.0,15917.0,12109.0,11272.0,9463.0,13374.0,11769.0,11311.0,10601.0,...,7264.0,7183.0,6179.0,6128.0,6146.0,5694.0,5425.0,4886.0,2836.0,3754.0
2,Kinder,14380.0,21458.0,16052.0,14936.0,12676.0,16794.0,15214.0,15223.0,13730.0,...,10972.0,10704.0,9314.0,9138.0,8767.0,8121.0,8148.0,8027.0,6380.0,7321.0
3,Sin grado[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total preescolar,25193.0,37673.0,28344.0,26378.0,22139.0,30168.0,26983.0,26534.0,24331.0,...,21722.0,21505.0,18811.0,18367.0,18127.0,18127.0,16347.0,16347.0,10641.0,11473.0
5,Primero,12945.0,19354.0,13955.0,12995.0,11738.0,14650.0,13877.0,14371.0,12696.0,...,11243.0,10651.0,10172.0,9138.0,8021.0,8021.0,8048.0,8027.0,6441.0,7489.0
6,Segundo,11797.0,17613.0,12719.0,11853.0,11276.0,13598.0,13148.0,13745.0,12438.0,...,10726.0,10436.0,10085.0,9443.0,8895.0,8548.0,8148.0,8037.0,6441.0,7319.0
7,Tercero,10601.0,15852.0,11687.0,10892.0,10402.0,13242.0,12951.0,13305.0,12413.0,...,10624.0,10252.0,10011.0,9646.0,8735.0,8099.0,8037.0,8037.0,6441.0,7333.0
8,Cuarto,10258.0,15435.0,11183.0,10421.0,9758.0,12424.0,12637.0,12893.0,11872.0,...,10428.0,9901.0,9884.0,9655.0,8855.0,8121.0,8041.0,8066.0,6441.0,7321.0
9,Quinto,10010.0,15026.0,10367.0,9667.0,9279.0,11848.0,12094.0,12799.0,11601.0,...,10276.0,9886.0,9568.0,9457.0,8909.0,7981.0,8027.0,7995.0,6441.0,7319.0
10,Sexto,9773.0,14702.0,10464.0,9750.0,8956.0,11428.0,11752.0,12077.0,11653.0,...,10585.0,10041.0,9760.0,9443.0,8895.0,8041.0,8066.0,8066.0,6441.0,7319.0
11,Sin grado[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361.0,...,481.0,755.0,665.0,645.0,274.0,NaN,274.0,7995.0,6441.0,7319.0
12,Total elemental,65384.0,97982.0,114771.0,65578.0,61409.0,77190.0,76459.0,79190.0,72673.0,...,64526.0,61552.0,60059.0,58689.0,56177.0,56092.0,49530.0,49105.0,49105.0,49105.0
13,Séptimo,9746.0,14757.0,10926.0,10168.0,9292.0,11494.0,11423.0,12267.0,11427.0,...,11315.0,10669.0,10224.0,10124.0,9185.0,8651.0,8011.0,7995.0,6441.0,7321.0
14,Octavo,8981.0,13523.0,10423.0,9708.0,8970.0,10703.0,11079.0,11713.0,11055.0,...,11225.0,10761.0,10840.0,10118.0,8648.0,8101.0,8013.0,7995.0,6441.0,7321.0
15,Noveno,8639.0,12993.0,9896.0,9210.0,9350.0,10653.0,10792.0,11457.0,11028.0,...,11322.0,10974.0,11085.0,10538.0,9185.0,9309.0,9012.0,9012.0,9310.0,10722.0
16,Décimo,7677.0,11515.0,8671.0,8068.0,8613.0,9980.0,10072.0,10326.0,10648.0,...,11744.0,11488.0,10907.0,9695.0,9623.0,9230.0,9030.0,9259.0,8981.0,8500.0
17,Undécimo,7058.0,10623.0,8353.0,7764.0,7843.0,9484.0,10117.0,9907.0,10007.0,...,10647.0,10636.0,10585.0,9095.0,9157.0,9141.0,8991.0,9012.0,9512.0,8150.0
18,Duodécimo,6959.0,10504.0,7491.0,6977.0,7212.0,8482.0,9779.0,10996.0,10528.0,...,10732.0,10875.0,11083.0,11248.0,10139.0,10013.0,9991.0,9513.0,9513.0,9150.0
19,Sin grado[1],806.0,1274.0,1352.0,1263.0,841.0,NaN,398.0,NaN,673.0,...,481.0,755.0,665.0,596.0,274.0,NaN,NaN,NaN,NaN,NaN
20,Total secundaria,49866.0,75189.0,57112.0,53158.0,52121.0,60796.0,63262.0,66664.0,64693.0,...,67569.0,65862.0,65164.0,64203.0,59852.0,55258.0,55105.0,49105.0,48142.0,49105.0
21,Gran total,140443.0,210844.0,200227.0,145114.0,135669.0,168154.0,166704.0,172388.0,161697.0,...,153817.0,148919.0,144034.0,142235.0,130899.0,122924.0,121089.0,119982.0,108178.0,109979.0

In [104]:
t7_df = t7_df.rename(columns={
    '2000-01': '2001',
    '2001-02': '2002', 
    '2002-03': '2003', 
    '2003-04': '2004', 
    '2004-05': '2005', 
    '2005-06': '2006', 
    '2006-07': '2007', 
    '2007-08': '2008', 
    '2008-09': '2009', 
    '2009-10': '2010', 
    '2010-11': '2011', 
    '2011-12': '2012', 
    '2012-13': '2013', 
    '2013-14': '2014', 
    '2014-15': '2015', 
    '2015-16': '2016', 
    '2016-17': '2017', 
    '2017-18': '2018', 
    '2018-19': '2019', 
    '2019-20': '2020', 
    '2020-21': '2021',
    '2021-22': '2022',
    
})
t7_df

,Niveles/grado,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2016-17*,2018,2019,2020,2021,2022
0,Pre-pre-Kinder,199.0,298.0,183.0,170.0,NaN,NaN,NaN,NaN,2479.0,...,3059.0,2533.0,2947.0,2773.0,2247.0,2138.0,1984.0,969.0,1578.0,NaN
1,Pre-Kinder,10614.0,15917.0,12109.0,11272.0,9463.0,13374.0,11769.0,11311.0,10601.0,...,7264.0,7183.0,6179.0,6128.0,6146.0,5694.0,5425.0,4886.0,2836.0,3754.0
2,Kinder,14380.0,21458.0,16052.0,14936.0,12676.0,16794.0,15214.0,15223.0,13730.0,...,10972.0,10704.0,9314.0,9138.0,8767.0,8121.0,8148.0,8027.0,6380.0,7321.0
3,Sin grado[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total preescolar,25193.0,37673.0,28344.0,26378.0,22139.0,30168.0,26983.0,26534.0,24331.0,...,21722.0,21505.0,18811.0,18367.0,18127.0,18127.0,16347.0,16347.0,10641.0,11473.0
5,Primero,12945.0,19354.0,13955.0,12995.0,11738.0,14650.0,13877.0,14371.0,12696.0,...,11243.0,10651.0,10172.0,9138.0,8021.0,8021.0,8048.0,8027.0,6441.0,7489.0
6,Segundo,11797.0,17613.0,12719.0,11853.0,11276.0,13598.0,13148.0,13745.0,12438.0,...,10726.0,10436.0,10085.0,9443.0,8895.0,8548.0,8148.0,8037.0,6441.0,7319.0
7,Tercero,10601.0,15852.0,11687.0,10892.0,10402.0,13242.0,12951.0,13305.0,12413.0,...,10624.0,10252.0,10011.0,9646.0,8735.0,8099.0,8037.0,8037.0,6441.0,7333.0
8,Cuarto,10258.0,15435.0,11183.0,10421.0,9758.0,12424.0,12637.0,12893.0,11872.0,...,10428.0,9901.0,9884.0,9655.0,8855.0,8121.0,8041.0,8066.0,6441.0,7321.0
9,Quinto,10010.0,15026.0,10367.0,9667.0,9279.0,11848.0,12094.0,12799.0,11601.0,...,10276.0,9886.0,9568.0,9457.0,8909.0,7981.0,8027.0,7995.0,6441.0,7319.0
10,Sexto,9773.0,14702.0,10464.0,9750.0,8956.0,11428.0,11752.0,12077.0,11653.0,...,10585.0,10041.0,9760.0,9443.0,8895.0,8041.0,8066.0,8066.0,6441.0,7319.0
11,Sin grado[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361.0,...,481.0,755.0,665.0,645.0,274.0,NaN,274.0,7995.0,6441.0,7319.0
12,Total elemental,65384.0,97982.0,114771.0,65578.0,61409.0,77190.0,76459.0,79190.0,72673.0,...,64526.0,61552.0,60059.0,58689.0,56177.0,56092.0,49530.0,49105.0,49105.0,49105.0
13,Séptimo,9746.0,14757.0,10926.0,10168.0,9292.0,11494.0,11423.0,12267.0,11427.0,...,11315.0,10669.0,10224.0,10124.0,9185.0,8651.0,8011.0,7995.0,6441.0,7321.0
14,Octavo,8981.0,13523.0,10423.0,9708.0,8970.0,10703.0,11079.0,11713.0,11055.0,...,11225.0,10761.0,10840.0,10118.0,8648.0,8101.0,8013.0,7995.0,6441.0,7321.0
15,Noveno,8639.0,12993.0,9896.0,9210.0,9350.0,10653.0,10792.0,11457.0,11028.0,...,11322.0,10974.0,11085.0,10538.0,9185.0,9309.0,9012.0,9012.0,9310.0,10722.0
16,Décimo,7677.0,11515.0,8671.0,8068.0,8613.0,9980.0,10072.0,10326.0,10648.0,...,11744.0,11488.0,10907.0,9695.0,9623.0,9230.0,9030.0,9259.0,8981.0,8500.0
17,Undécimo,7058.0,10623.0,8353.0,7764.0,7843.0,9484.0,10117.0,9907.0,10007.0,...,10647.0,10636.0,10585.0,9095.0,9157.0,9141.0,8991.0,9012.0,9512.0,8150.0
18,Duodécimo,6959.0,10504.0,7491.0,6977.0,7212.0,8482.0,9779.0,10996.0,10528.0,...,10732.0,10875.0,11083.0,11248.0,10139.0,10013.0,9991.0,9513.0,9513.0,9150.0
19,Sin grado[1],806.0,1274.0,1352.0,1263.0,841.0,NaN,398.0,NaN,673.0,...,481.0,755.0,665.0,596.0,274.0,NaN,NaN,NaN,NaN,NaN
20,Total secundaria,49866.0,75189.0,57112.0,53158.0,52121.0,60796.0,63262.0,66664.0,64693.0,...,67569.0,65862.0,65164.0,64203.0,59852.0,55258.0,55105.0,49105.0,48142.0,49105.0
21,Gran total,140443.0,210844.0,200227.0,145114.0,135669.0,168154.0,166704.0,172388.0,161697.0,...,153817.0,148919.0,144034.0,142235.0,130899.0,122924.0,121089.0,119982.0,108178.0,109979.0