

The Goat versus the King
The Greatest Ever! Will data finally put a end to the debate?

In [7]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [25]:
sample_player_ids = [
    '2306', #Carlos Arroyo
    '200826', # JJ Barea
    '2544', # Lebron James
    '893' #MJ
]

In [26]:
from nba_api.stats.static import teams
# I need to check the players IDS
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format (len(nba_teams)))

Number of teams fetched: 30

In [28]:
from nba_api.stats.static import players
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))

Number of players fetched: 4815

In [60]:
from nba_api.stats.endpoints import playercareerstats

lebron_id = players.find_players_by_full_name('LeBron James')[0]['id']
mj_id = players.find_players_by_full_name('Michael Jordan')[0]['id']
barea_id = players.find_players_by_last_name('Barea')[0]['id']
arroyo_id = players.find_players_by_full_name('Carlos Arroyo')[0]['id']

lebron_career = playercareerstats.PlayerCareerStats(player_id=lebron_id)
lebron_df = lebron_career.get_data_frames()[0]

mj_career = playercareerstats.PlayerCareerStats(player_id=mj_id)
mj_df = mj_career.get_data_frames()[0]

barea_career = playercareerstats.PlayerCareerStats(player_id=barea_id)
barea_df = barea_career.get_data_frames()[0]

arroyo_career = playercareerstats.PlayerCareerStats(player_id=arroyo_id)
arroyo_df = arroyo_career.get_data_frames()[0]

print('This is MJ id:', mj_id)
print('This is LJ id', lebron_id)
print('This is Barea id:', barea_id)
print('This is Arroyo id', arroyo_id)

This is MJ id: 893
This is LJ id 2544
This is Barea id: 200826
This is Arroyo id 2306

In [63]:
barea_df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,200826,2006-07,00,1610612742,DAL,23.0,33,1,191.0,28,...,0.667,7,18,25,24,1,1,14,19,78
1,200826,2007-08,00,1610612742,DAL,24.0,44,9,460.0,71,...,0.800,4,43,47,58,14,1,35,48,191
2,200826,2008-09,00,1610612742,DAL,25.0,79,15,1600.0,246,...,0.753,36,141,177,269,37,5,105,121,617
3,200826,2009-10,00,1610612742,DAL,26.0,78,18,1546.0,232,...,0.844,17,129,146,258,35,6,102,119,596
4,200826,2010-11,00,1610612742,DAL,27.0,81,2,1669.0,285,...,0.847,29,130,159,317,30,1,136,136,769
5,200826,2011-12,00,1610612750,MIN,28.0,41,11,1032.0,167,...,0.776,14,100,114,232,21,0,103,61,463
6,200826,2012-13,00,1610612750,MIN,29.0,74,2,1713.0,316,...,0.784,34,173,207,294,32,0,145,131,834
7,200826,2013-14,00,1610612750,MIN,30.0,79,1,1471.0,254,...,0.790,16,138,154,303,26,0,125,129,660
8,200826,2014-15,00,1610612742,DAL,31.0,77,10,1362.0,225,...,0.809,23,111,134,263,33,1,70,104,580
9,200826,2015-16,00,1610612742,DAL,32.0,74,16,1667.0,317,...,0.771,26,126,152,302,26,2,113,110,808
10,200826,2016-17,00,1610612742,DAL,33.0,35,6,771.0,142,...,0.863,9,75,84,193,14,1,63,30,381
11,200826,2017-18,00,1610612742,DAL,34.0,69,11,1603.0,303,...,0.784,15,186,201,434,35,3,143,83,801
12,200826,2018-19,00,1610612742,DAL,35.0,38,0,752.0,161,...,0.705,13,82,95,211,22,1,72,50,415
13,200826,2019-20,00,1610612742,DAL,36.0,29,6,450.0,85,...,0.909,10,43,53,112,5,2,38,27,222

In [67]:
from nba_api.stats.endpoints import playerprofilev2

player_id = '2544'

career_totals = playerprofilev2.PlayerProfileV2(
    per_mode36='Totals',
    player_id=player_id
).career_totals_regular_season.get_data_frame()

career_highs = playerprofilev2.PlayerProfileV2(
    per_mode36='Totals',
    player_id=player_id
).career_highs.get_data_frame()




career_highs

,PLAYER_ID,GAME_ID,GAME_DATE,VS_TEAM_ID,VS_TEAM_CITY,VS_TEAM_NAME,VS_TEAM_ABBREVIATION,STAT,STAT_VALUE,STAT_ORDER,DATE_EST
0,2544,0041700401,MAY 31 2018,1610612744,Golden State,Warriors,GSW,PTS,51,1,2018-05-31T00:00:00
1,2544,0040900206,MAY 13 2010,1610612738,Boston,Celtics,BOS,REB,19,2,2010-05-13T00:00:00
2,2544,0041400303,MAY 24 2015,1610612737,Atlanta,Hawks,ATL,OREB,8,3,2015-05-24T00:00:00
3,2544,0041200401,JUN 06 2013,1610612759,San Antonio,Spurs,SAS,DREB,16,4,2013-06-06T00:00:00
4,2544,0040900206,MAY 13 2010,1610612738,Boston,Celtics,BOS,DREB,16,4,2010-05-13T00:00:00
5,2544,0041900141,AUG 18 2020,1610612757,Portland,Trail Blazers,POR,AST,16,5,2020-08-18T00:00:00
6,2544,0041100202,MAY 15 2012,1610612754,Indiana,Pacers,IND,STL,6,6,2012-05-15T00:00:00
7,2544,0041000213,MAY 07 2011,1610612738,Boston,Celtics,BOS,BLK,5,7,2011-05-07T00:00:00
8,2544,0040800301,MAY 20 2009,1610612753,Orlando,Magic,ORL,FGM,20,8,2009-05-20T00:00:00
9,2544,0041400401,JUN 04 2015,1610612744,Golden State,Warriors,GSW,FGA,38,9,2015-06-04T00:00:00
10,2544,0040500134,APR 30 2006,1610612764,Washington,Wizards,WAS,FG3M,7,10,2006-04-30T00:00:00
11,2544,0041600214,MAY 07 2017,1610612761,Toronto,Raptors,TOR,FG3A,12,11,2017-05-07T00:00:00
12,2544,0041600113,APR 20 2017,1610612754,Indiana,Pacers,IND,FG3A,12,11,2017-04-20T00:00:00
13,2544,0040500134,APR 30 2006,1610612764,Washington,Wizards,WAS,FG3A,12,11,2006-04-30T00:00:00
14,2544,0041100302,MAY 30 2012,1610612738,Boston,Celtics,BOS,FTM,18,12,2012-05-30T00:00:00
15,2544,0040800303,MAY 24 2009,1610612753,Orlando,Magic,ORL,FTM,18,12,2009-05-24T00:00:00
16,2544,0041100302,MAY 30 2012,1610612738,Boston,Celtics,BOS,FTA,24,13,2012-05-30T00:00:00
17,2544,0040800303,MAY 24 2009,1610612753,Orlando,Magic,ORL,FTA,24,13,2009-05-24T00:00:00

To create a simulation, we will need to define some variables that will represent the peak performance of each player. These variables will be used to generate random numbers that will simulate the performance of each player in a one-on-one game.

For example, we can define the following variables:

MJ_peak_score: represents the highest score Michael Jordan has ever achieved in a game
LJ_peak_score: represents the highest score LeBron James has ever achieved in a game
Barea_peak_score: represents the highest score JJ Barea has ever achieved in a game
Arroyo_peak_score: represents the highest score Carlos Arroyo has ever achieved in a game
We can use these variables to generate random scores for each player in a one-on-one simulation. We will also need to define the number of simulations to run, and keep track of the number of times each player wins.

Let's start by defining these variables and the number of simulations to run:

python

In [ ]:
import random

# Define peak scores for each player
MJ_peak_score = 69
LJ_peak_score = 61
Barea_peak_score = 30
Arroyo_peak_score = 28

# Define number of simulations to run
num_simulations = 10000

# Initialize counters for each player's wins
MJ_wins = 0
LJ_wins = 0
Barea_wins = 0
Arroyo_wins = 0

Now, let's create a function that will simulate a one-on-one game between two players. The function will take as input the two players, generate random scores for each player based on their peak scores, and return the winner of the game.

In [ ]:
def simulate_one_on_one(player1, player2):
    # Generate random scores for each player based on their peak scores
    player1_score = random.randint(0, player1+'_peak_score')
    player2_score = random.randint(0, player2+'_peak_score')
    
    # Determine the winner of the game based on the scores
    if player1_score > player2_score:
        return player1
    else:
        return player2

Finally, let's run the simulations and keep track of the number of times each player wins:

In [ ]:
# Run simulations
for i in range(num_simulations):
    # Simulate one-on-one game between two random players
    players = random.sample(sample_player_ids, 2)
    winner = simulate_one_on_one(players[0], players[1])